# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  armory_api_key: z4ejtbjpeavzgz9zf4b3mujzq3r6bcgm
  base_url: http://localhost:<%= ENV.fetch('PORT') { 3000 } %>
  identicon_key: ae49885e7b5c072c
  request_timeout: 15
  secret_key_base: fc0399ec0e68f58ef43580fb53b6eb991ad34b45f1caf593f4380b8088a72745cd64c2195faf0fc4bdd5eab99f35cbd67420014f6c328170232befdf6464d4d8

test:
  akismet_key: not-an-akismet-key
  akismet_url: http://example.com
  armory_api_key: not-a-bnet-key
  base_url: http://example.com
  ga_id: not-a-ga-id
  identicon_key: f4513144f3a6ee09
  request_timeout: 15
  secret_key_base: 8752a4b4b4bb26c5cbbb5357c8218258cf5f3834491b9e23e313c30c1364c5de133f579d42baa585c9e8b7f4b25a0a8226dd9221d4383df5bbd60906bcf7ebaf
  slack_webhook_url: http://slack.example.com


# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  akismet_key: <%= ENV["AKISMET_KEY"] %>
  akismet_url: <%= ENV["BASE_URL"] %>
  armory_api_key: <%= ENV["ARMORY_API_KEY"] %>
  base_url: <%= ENV["BASE_URL"] %>
  cable_origins: <%= ENV.fetch("CABLE_ORIGINS") { "" }.split(",") %>
  ga_id: <%= ENV["GA_ID"] %>
  identicon_key: <%= ENV["IDENTICON_KEY"] %>
  request_timeout: <%= ENV.fetch("REQUEST_TIMEOUT") { "15" } %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  slack_webhook_url: <%= ENV["SLACK_WEBHOOK_URL"] %>
