<% content_for(:page_title) { ranking_title(params[:region], params[:realm]) } %>

<table>
  <thead>
    <th>#</th>
    <th>Name</th>
    <th <%= tid :extra_column_name %>><%= extra_column_name %></th>
    <th>Score</th>
  </thead>

  <tbody><%= render partial: 'character_row', collection: @characters, as: :character %></tbody>
</table>
