.SubHeader {
  background: $brown-dark linear-gradient(to bottom, rgba($black, 0.4), rgba($black, 0) 12%) no-repeat;
  border-top: 1px solid darken($brown, 25%);
  color: $tan;
  font-size: 14px;
  padding: 1em;
}
