.SubNav {
  align-items: center;
  display: flex;

  a {
    &:link,
    &:visited {
      color: $tan;
    }

    &:hover,
    &:active {
      color: $white;
    }
  }
}

.SubNav-item {
  + .SubNav-item {
    padding-left: 4px;
  }

  &::after {
    content: ' – ';
  }

  &:last-child::after {
    content: '';
  }
}
