@import 'variables';

.SecondaryContent {
  background: transparent;
  box-shadow: none;
  position: relative;
}

.SecondaryContent-panel {
  $border-radius: $border-radius-base - 1;

  background-color: $navy;
  border-radius: 0 0 $border-radius $border-radius;
  box-shadow: 0 2px 4px rgba($black, 0.4);
  position: absolute;
  top: 0;
  transform-origin: top;
  transition: 0.75s ease-in-out;
  transition-property: top, transform;
  width: 100%;
}

.SecondaryContent-item p {
  margin: 0;
}

.is-collapsed {
  top: -250px;
  transform: scaleY(0);
  z-index: -1;
}

@import 'components/redirect-form';
