<%# frozen_string_literal: true %>
<% flash.each do |type, value| %>
  <div class="FlashMessage FlashMessage--<%= type %>" <%= tid type %>>
    <% [*value].each do |message| %>
      <p class="FlashMessage-text">
        <%= message %>
      </p>
    <% end %>
  </div>
<% end %>
